.ingredientsListContainer {
  width: 100%;
  max-width: 1024px;
  box-sizing: content-box;
}

.ingredientContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #515151;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  margin-bottom: 0.25rem;
}

.ingredientName {
  text-transform: capitalize;
  font-size: 1.5rem;
}
