.ingredientsListContainer {
  width: 100%;
  box-sizing: content-box;
}

.ingredientContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ingredientName {
  text-transform: capitalize;
  font-size: 1.5rem;
}
