.container {
  background-color: #191919;
  color: #fafafa;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0rem 1rem;
}

.content {
  max-width: 699px;
}

.backBtn {
  cursor: pointer;
  margin: 2rem 0rem;
  color: greenyellow;
  font-size: 1rem;
  font-weight: bold;
}

.image {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  margin: 0rem 0rem 4rem 0rem;
}

.stepsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.stepContainer {
  width: 100%;
  border-bottom: 2px dashed rgba(218, 218, 218, 0.215);
  margin-bottom: 0.5rem;
}

.step {
  font-size: 1.125rem;
  font-weight: 500;
}
