.container {
  width: 100%;
  max-width: 300px;
  display: flex;
  cursor: pointer;
  background-color: rgb(168, 229, 46);
  border-radius: 0.25rem;
  margin: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}

.title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin: 0rem 1rem;
  max-height: 100px;
  flex: 1;
  color: rgb(18, 18, 18);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
