.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  width: 100%;
  max-width: 6--px;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 1rem 2rem 1rem;
}

.logo {
  width: 150px;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fafafa;
}

.randomBtn {
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}
