.ingredientsListContainer {
  width: 100%;
  padding: 0.5rem 0.25rem;
}

.ingredientContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 1rem;
  margin-bottom: 0.25rem;
  border-bottom: 2px dashed rgba(218, 218, 218, 0.215);
}

.ingredientName {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0.25rem;
}

.ingredientAmount {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0.25rem;
}
