.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #191919;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  color: #fafafa;
}
