.searchFieldContainer {
  display: flex;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.searchInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.searchBtn {
  width: 100%;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  background-color: greenyellow;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 3px solid transparent;
}

.searchBtn:hover {
  background-color: transparent;
  border-color: greenyellow;
  color: greenyellow;
}
